<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czm.wormforwb.mapper.UserDynamicLogMapper">
    <insert id="insertDynamicLogBatch" parameterType="com.czm.wormforwb.pojo.vo.DynamicResVO" useGeneratedKeys="false">
        INSERT INTO ${logTable}
        (uid, mid, m_name, bid, page_url, create_time, del)
        VALUES
        <foreach collection="dynamicResVOs" item="model" separator=",">
            (#{uid}, #{model.mid}, #{model.name}, #{model.bid}, #{model.pageUrl}, #{model.createTime}, 0)
        </foreach>
    </insert>

    <insert id="insertDynamicInfo" parameterType="com.czm.wormforwb.pojo.vo.DynamicResVO">
        INSERT INTO ${logTable}
        (mid, m_content, pics, del)
        VALUES
        <foreach collection="dynamicResVOs" item="model" separator=",">
            (#{model.mid}, #{model.text}, #{model.pics}, 0)
        </foreach>
    </insert>

    <select id="queryDynamicLogYesterdayByUid" resultType="com.czm.wormforwb.pojo.vo.DynamicLogVO">
        SELECT a.uid, a.mid, a.m_name as name, a.bid, a.page_url, a.create_time, b.m_content as text, b.pics
        FROM ${logTable} a
        left join ${dynamicInfoTable} b on a.mid = b.mid
        WHERE a.uid = #{uid} AND
              DATE_FORMAT(a.create_time,'%Y-%m-%d') = DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 DAY),'%Y-%m-%d') AND
              a.del = 0 and b.del = 0
        GROUP BY a.mid
    </select>

    <select id="queryDynamicLogTodayByUid" resultType="com.czm.wormforwb.pojo.vo.DynamicLogVO">
        SELECT a.uid, a.mid, a.m_name as name, a.bid, a.page_url, a.create_time, b.m_content as text, b.pics
        FROM ${logTable} a
                 left join ${dynamicInfoTable} b on a.mid = b.mid
        WHERE a.uid = #{uid} AND
                DATE_FORMAT(a.create_time,'%Y-%m-%d') = DATE_FORMAT(CURDATE(),'%Y-%m-%d') AND
            a.del = 0 and b.del = 0
        GROUP BY a.mid
    </select>

    <select id="queryMids" resultType="java.lang.String">
        SELECT DISTINCT mid FROM ${dynamicInfoTable} where del = 0
    </select>

    <select id="queryUpdatedMids" resultType="com.czm.wormforwb.pojo.vo.DynamicFlagVO">
        SELECT t.mid,t.uid,t.m_name from (SELECT * FROM ${logTable} WHERE del = 0
                                          ORDER BY create_time DESC LIMIT 10000) t
        GROUP BY t.uid,t.m_name
    </select>

</mapper>